force-app/main/default/flows/Account_Update_related_contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_contact_email</name>
        <label>Update contact email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_child_contacts.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_updateContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_child_contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_child_contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Records_to_update</name>
        <label>Records to update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_updateContacts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_contacts</targetReference>
            </connector>
            <label>yes update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_contact</name>
        <label>Update contact?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_child_contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_needs_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_child_contacts.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_contact_email</targetReference>
            </connector>
            <label>yes needs update</label>
        </rules>
    </decisions>
    <decisions>
        <name>update_needed</name>
        <label>update needed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_update_needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_child_contacts</targetReference>
            </connector>
            <label>Outcome 1 of update needed?</label>
        </rules>
    </decisions>
    <description>testing flow
v2 updated entry criteria and added decision
v3 fixed bug in loop</description>
    <environments>Default</environments>
    <interviewLabel>Account - Update related contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Update related contacts</label>
    <loops>
        <name>Loop_child_contacts</name>
        <label>Loop child contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_child_contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Records_to_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_child_contacts</name>
        <label>Get child contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_child_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_contacts</name>
        <label>Update contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>v_updateContacts</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>update_needed</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>v_updateContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
